# Compose app owned by @ibareq
/composeApp/ @ibareq

# Chat core modules owned by @AzizaHelmy, @ZainabAlnajjar
/core_chat_api/ @AzizaHelmy @Al-Qassim @ZainabAlnajjar
/core_chat_data/ @AzizaHelmy @Al-Qassim @ZainabAlnajjar
/core_chat_domain/ @AzizaHelmy @Al-Qassim @ZainabAlnajjar
/core_chat_presentation/ @AzizaHelmy @Al-Qassim @ZainabAlnajjar

# Design system owned by @ibareq
/design_system/ @ibareq

# Dukan modules owned by @TarekIdrees, @haideraljawasim, @mostafa-n3ma, @YoussefmSaber
/dukan_api/ @TarekIdrees @haideraljawasim @mostafa-n3ma @YoussefmSaber
/dukan_data/ @TarekIdrees @haideraljawasim @mostafa-n3ma @YoussefmSaber
/dukan_domain/ @TarekIdrees @haideraljawasim @mostafa-n3ma @YoussefmSaber
/dukan_presentation/ @TarekIdrees @haideraljawasim @mostafa-n3ma @YoussefmSaber

# Faith modules owned by @Asiasama710, @BassantM, @amnah44
/faith_api/ @Asiasama710 @BassantM @mohannadahmed00 @amnah44
/faith_data/ @Asiasama710 @BassantM @mohannadahmed00 @amnah44
/faith_domain/ @Asiasama710 @BassantM @mohannadahmed00 @amnah44
/faith_presentation/ @Asiasama710 @BassantM @mohannadahmed00 @amnah44

# Identity modules owned by @ibareq, @AimanYosofiUlt, @AhmadKharfan, @devfalah
/identity_api/ @ibareq @AimanYosofiUlt @AhmadKharfan @amnah44 @eslam-99 @devfalah
/identity_data/ @ibareq @AimanYosofiUlt @AhmadKharfan @amnah44 @eslam-99 @devfalah
/identity_domain/ @ibareq @AimanYosofiUlt @AhmadKharfan @amnah44 @eslam-99 @devfalah
/identity_presentation/ @ibareq @AimanYosofiUlt @AhmadKharfan @amnah44 @eslam-99 @devfalah

# iOS app owned by @ibareq
/iosApp/ @ibareq

# Trends modules owned by @ahmednasserzaza, @kamelkiko, @ahmeddsamii, @iZyadNasser
/trends_api/ @ahmednasserzaza @kamelkiko @ahmeddsamii @iZyadNasser
/trends_data/ @ahmednasserzaza @kamelkiko @ahmeddsamii @iZyadNasser
/trends_domain/ @ahmednasserzaza @kamelkiko @ahmeddsamii @iZyadNasser
/trends_presentation/ @ahmednasserzaza @kamelkiko @ahmeddsamii @iZyadNasser

# Wallet modules owned by @Karrar-Mohammed, @abdallahFc, @Ahmed7osny1, @Al-Qassim, @EL-MANCY @Al-Taie
/wallet_api/ @Ahmed7osny1 @EL-MANCY @Al-Taie @mosayed01
/wallet_data/  @Ahmed7osny1 @EL-MANCY @Al-Taie @mosayed01
/wallet_domain/  @Ahmed7osny1 @EL-MANCY @Al-Taie @mosayed01
/wallet_presentation/ @Ahmed7osny1 @EL-MANCY @Al-Taie @mosayed01

/.github/CODEOWNERS @iBareq
